[submodule "ext/openexr"]
	path = ext/openexr
	url = https://github.com/AcademySoftwareFoundation/openexr.git
[submodule "ext/imath"]
	path = ext/imath
	url = https://github.com/AcademySoftwareFoundation/Imath.git
